img#customer-logo {
    margin-top: 2em;
    padding: 0px;
    margin: 40px;
    width: 70%;
}

h1, h2, h3 {
    font-family: 'Oxygen', sans-serif;
}

body {
    /* font corporativo de Opticality! */
    font-family: 'Oxygen', sans-serif;
}

.figure {
    padding: 0px 8px;
}

.figure p {
    padding: 0;
}

#table-of-contents  {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background: #299187;
}

#table-of-contents h2 {
    background-color: #8ABEA6;
}

#table-of-contents a {
    color: white;
}

#title {
    color: #339E94;
}

#subtitle {
    color: #8ABEA6;
}

#subtitle2 {
    color: #339E94;
}

#subtitle3 {
    color: #8ABEA6;
}

#preamble {
    height: 130px;
    background-image: url("../img/opticalitylogo.jpg");
    text-align: right;
    margin-left: 210pt;
    background-repeat: no-repeat;
    background-size: 820px;
    max-width: 820px;
    padding-right: 6em;
}

#postamble {
    background-color: #EBEAEB;
    color: #339E94;
}

.footref {
    font-size: 110%;
}

#text-inversion tbody {
    border-bottom-width: 4px;
}

#text-inversion tr:nth-child(1) td {
    background-color: MintCream;
}

#text-inversion tr:last-child td {
    background-color: #EBF5FB;
}


#text-imagen1 .slide-comparison {
    width: 700px;
    height: 990px;
}

#text-imagen2 .slide-comparison {
    width: 700px;
    height: 1039px;
}

#text-imagen3 .slide-comparison {
    width: 700px;
    height: 990px;
}

#text-imagen4 .slide-comparison {
    width: 700px;
    height: 1039px;
}

#text-imagen1 .slide-comparison img,
#text-imagen2 .slide-comparison img,
#text-imagen3 .slide-comparison img,
#text-imagen4 .slide-comparison img {
    max-width: unset;
}

@media (max-width:767px) {
    .slide-comparison{
        width:300px;
        height:200px;
    }
}

p{ 
    text-align:justify; 
    }